service vendor.rebalance_interrupts-vendor /vendor/bin/rebalance_interrupts-op6
    disabled
    oneshot
    user root
    group system

on early-boot
    start vendor.rebalance_interrupts-vendor

on property:sys.boot_completed=1
    start vendor.rebalance_interrupts-vendor

