type hal_iop_hwservice, hwservice_manager_type;
type hal_iop_default, domain, mlstrustedsubject;
binder_call(perfservice, hal_iop_default);

add_hwservice(perfservice, hal_iop_hwservice)
allow perfservice hal_iop_hwservice:hwservice_manager find;
