type powerstats, domain;
type powerstats_exec, exec_type, file_type;
init_daemon_domain(powerstats)

allow powerstats sysfs_rpm:file r_file_perms;
allow powerstats sysfs_system_sleep_stats:file r_file_perms;
allow powerstats sysfs_power_stats:file r_file_perms;

allow powerstats default_android_service:service_manager add;
allow powerstats hal_power_stats_hwservice:hwservice_manager add;
allow powerstats hidl_base_hwservice:hwservice_manager add;
get_prop(powerstats, hwservicemanager_prop)

binder_call(powerstats, servicemanager)
binder_call(powerstats, hwservicemanager)
binder_call(powerstats, system_server)
allow powerstats binder_device:chr_file rw_file_perms;

allow servicemanager powerstats:binder call;
