type public_vendor_default_prop, property_type;
type vendor_camera_prop, property_type;
type camera_prop, property_type;
type vendor_iop_prop, property_type;
type vendor_display_prop, property_type;
type vendor_audio_prop, property_type;
