on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules-aging/qca_cld3_wlan.ko bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind

# Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/module/lpm_levels/parameters/sleep_disabled N

    # Disable Boost_No_Override
    write /dev/stune/foreground/schedtune.sched_boost_no_override 0
    write /dev/stune/top-app/schedtune.sched_boost_no_override 0

    # Set default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 0

on boot
    #Set on boot cpusets
    write /dev/cpuset/top-app/cpus 0-3,4-7
    write /dev/cpuset/foreground/cpus 0-3,4-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

    # Touchpanel
    chmod 0660 /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_swipe_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_swipe_enable
    chmod 0660 /proc/touchpanel/letter_m_enable
    chmod 0660 /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_s_enable
    chmod 0660 /proc/touchpanel/letter_w_enable
    chmod 0660 /proc/touchpanel/right_arrow_enabl
    chmod 0660 /proc/touchpanel/right_swipe_enabl
    chmod 0660 /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_swipe_enable
    chown system system /proc/touchpanel/double_swipe_enable
    chown system system /proc/touchpanel/down_arrow_enable
    chown system system /proc/touchpanel/down_swipe_enable
    chown system system /proc/touchpanel/left_arrow_enable
    chown system system /proc/touchpanel/left_swipe_enable
    chown system system /proc/touchpanel/letter_m_enable
    chown system system /proc/touchpanel/letter_o_enable
    chown system system /proc/touchpanel/letter_s_enable
    chown system system /proc/touchpanel/letter_w_enable
    chown system system /proc/touchpanel/right_arrow_enabl
    chown system system /proc/touchpanel/right_swipe_enabl
    chown system system /proc/touchpanel/up_arrow_enable
    chown system system /proc/touchpanel/up_swipe_enable

    # Goodix proximity node
    chmod 0660 /sys/devices/platform/soc/soc:goodix_fp/proximity_state
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG switch
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0660 /sys/class/power_supply/usb/otg_switch

    write /data/misc/camera/client_package_name "com.oneplus.camera"
    chmod 0444 /data/misc/camera/client_package_name

    setprop vendor.camera.aux.packagelist com.oneplus.camera

on late-fs
    # Enable boot time fs tuning (ro like system is on sda, rw like userdata is on sde)
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048

on post-fs
    # Disable sched autogroup
    write /proc/sys/kernel/sched_autogroup_enabled 0

    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    chmod 0664 /sys/devices/virtual/graphics/fb0/idle_time
    chown system graphics /sys/devices/virtual/graphics/fb0/idle_time
    write /sys/devices/virtual/graphics/fb0/idle_time 100
 
   # Vibrator
    chown system system /sys/class/leds/vibrator/vmax_override
    write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

on property:sys.boot_completed=1
    start syberia

service dashd /sbin/dashd
    class core
    critical
    seclabel u:r:dashd:s0
    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service syberia /system/bin/init.syberia.sh
    user root
    oneshot
    disabled
