on init

    # Add a cpuset for the camera daemon
    # We want all cores for camera

    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    mkdir /dev/cpuset/little
    copy /dev/cpuset/cpus /dev/cpuset/little/cpus
    copy /dev/cpuset/mems /dev/cpuset/little/mems
    chown system system /dev/cpuset/little/tasks
    chmod 0664 /dev/cpuset/little/tasks

    # BPF Just In Time compiler
    write /proc/sys/net/core/bpf_jit_enable 1

on boot
    # Touchpanel
    chmod 0660 /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_swipe_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_swipe_enable
    chmod 0660 /proc/touchpanel/letter_m_enable
    chmod 0660 /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_s_enable
    chmod 0660 /proc/touchpanel/letter_w_enable
    chmod 0660 /proc/touchpanel/right_arrow_enabl
    chmod 0660 /proc/touchpanel/right_swipe_enabl
    chmod 0660 /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_swipe_enable
    chown system system /proc/touchpanel/double_swipe_enable
    chown system system /proc/touchpanel/down_arrow_enable
    chown system system /proc/touchpanel/down_swipe_enable
    chown system system /proc/touchpanel/left_arrow_enable
    chown system system /proc/touchpanel/left_swipe_enable
    chown system system /proc/touchpanel/letter_m_enable
    chown system system /proc/touchpanel/letter_o_enable
    chown system system /proc/touchpanel/letter_s_enable
    chown system system /proc/touchpanel/letter_w_enable
    chown system system /proc/touchpanel/right_arrow_enabl
    chown system system /proc/touchpanel/right_swipe_enabl
    chown system system /proc/touchpanel/up_arrow_enable
    chown system system /proc/touchpanel/up_swipe_enable

    # Goodix proximity node
    chmod 0660 /sys/devices/platform/soc/soc:goodix_fp/proximity_state
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG switch
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0660 /sys/class/power_supply/usb/otg_switch

    mkdir /data/misc/camera 0770 cameraserver audio
    write /data/misc/camera/client_package_name 0
    chown cameraserver audio /data/misc/camera/client_package_name
    chmod 0644 /data/misc/camera/client_package_name

on post-fs
    chmod 0664 /sys/devices/virtual/graphics/fb0/idle_time
    chown system graphics /sys/devices/virtual/graphics/fb0/idle_time
    write /sys/devices/virtual/graphics/fb0/idle_time 64

    # Vibrator
    chown system system /sys/class/leds/vibrator/vmax_override
    write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user
    chown system system /sys/class/leds/vibrator/vmax_mv_call
    chown system system /sys/class/leds/vibrator/vmax_mv_strong

    #DC dimming
    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en

on charger
    setprop persist.sys.usb.config mass_storage
    write /sys/class/backlight/panel0-backlight/brightness 150

    write /sys/module/msm_thermal/parameters/enabled "N"
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice
    mkdir /mnt/vendor/persist
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1
    start vendor.hvdcp_opti
    start vendor.power_off_alarm
    start vendor.poweroffm64
    mount tmpfs tmpfs /data
    start vendor.thermal-engine
    setprop vendor.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1

on enable-low-power
    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "2288 4577 6500 8132 9155 10681"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 40
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,llccbw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,llccbw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/mbps_zones "1720 2929 3879 5931 6881"
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/io_percent 80
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,llccbw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    # Enable memlat governor
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/mem_latency/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/mem_latency/ratio_ceil 400

    write /sys/class/devfreq/soc:qcom,l3-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,l3-cpu0/mem_latency/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,l3-cpu4/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 10
    write /sys/class/devfreq/soc:qcom,l3-cpu4/mem_latency/ratio_ceil 4000

    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Change l3-cdsp to userspace governor
    write /sys/class/devfreq/soc:qcom,l3-cdsp/governor userspace
    chown system system /sys/class/devfreq/soc:qcom,l3-cdsp/userspace/set_freq

    # Disable sched stats
    write /proc/sys/kernel/sched_schedstats 0

    # Setup final blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Runtime fs tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128

    # Block layer tuning: discard chunk size up to 128MB
    # Otherwise, contiguous discards can be merged
    write /sys/block/sda/queue/discard_max_bytes 134217728

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

    # Post-setup services
    setprop vendor.post_boot.parsed 1

on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

service dashd /system/bin/dashd
    class core
    critical
    group root system

service charger /charger
    class charger
    group system graphics
    seclabel u:r:healthd:s0

service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

service vendor.power_off_alarm /vendor/bin/power_off_alarm
    class core
    group system
    disabled
    oneshot

service vendor.poweroffm64 /vendor/bin/poweroffm64
    class late_start
    oneshot
    seclabel u:r:poweroffm64:s0
