on init
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 0

    # Set default SchedTune value for foreground/top-app on init
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

on boot
    # Set SQLite flags for F2FS because some DBs might be opened early
    setprop debug.sqlite.journalmode OFF
    setprop debug.sqlite.syncmode OFF

on fs
    write /dev/stune/foreground/schedtune.sched_boost_no_override 0
    write /dev/stune/top-app/schedtune.sched_boost_no_override 0

on property:vendor.post_boot.parsed=1

    # Post boot IO scheduler tuning
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 32
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nomerges 0
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/queue/rq_affinity 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/nr_requests 32
    write /sys/block/dm-0/queue/add_random 0
    write /sys/block/dm-0/queue/iostats 0
    write /sys/block/dm-0/queue/nomerges 0
    write /sys/block/dm-0/queue/rotational 0
    write /sys/block/dm-0/queue/rq_affinity 1

    # Tweak CFQ IO scheduler for less latency
    write /sys/block/dm-0/queue/iosched/quantum 4
    write /sys/block/dm-0/queue/iosched/fifo_expire_sync 80
    write /sys/block/dm-0/queue/iosched/fifo_expire_async 330
    write /sys/block/dm-0/queue/iosched/back_seek_max 12582912
    write /sys/block/dm-0/queue/iosched/back_seek_penalty 1
    write /sys/block/dm-0/queue/iosched/slice_sync 60
    write /sys/block/dm-0/queue/iosched/slice_async 50
    write /sys/block/dm-0/queue/iosched/slice_async_rq 2
    write /sys/block/dm-0/queue/iosched/group_idle 0
    write /sys/block/sda/queue/iosched/quantum 4
    write /sys/block/sda/queue/iosched/fifo_expire_sync 80
    write /sys/block/sda/queue/iosched/fifo_expire_async 330
    write /sys/block/sda/queue/iosched/back_seek_max 12582912
    write /sys/block/sda/queue/iosched/back_seek_penalty 1
    write /sys/block/sda/queue/iosched/slice_sync 60
    write /sys/block/sda/queue/iosched/slice_async 50
    write /sys/block/sda/queue/iosched/slice_async_rq 2
    write /sys/block/sda/queue/iosched/group_idle 0

    # Tune Core_CTL for proper task placement
    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu4/core_ctl/enable 0

    # Setup Schedutil Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/pl 0
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 0
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 80
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/iowait_boost_enable 1

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/pl 0
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 0
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/iowait_boost_enable 1

    # CPU input boost
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 902400

    # Enable PEWQ
    write /sys/module/workqueue/parameters/power_efficient Y

    # Disable CAF task placement for Big Cores 
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

    # STUNE
    write /dev/stune/schedtune.boost 0
    write /dev/stune/schedtune.prefer_idle 1
    write /dev/stune/cgroup.clone_children 0
    write /dev/stune/cgroup.sane_behavior 0
    write /dev/stune/notify_on_release 0
    write /dev/stune/top-app/schedtune.sched_boost 0
    write /dev/stune/top-app/notify_on_release 0
    write /dev/stune/top-app/cgroup.clone_children 0
    write /dev/stune/foreground/schedtune.sched_boost 10
    write /dev/stune/foreground/notify_on_release 0
    write /dev/stune/foreground/cgroup.clone_children 0
    write /dev/stune/background/schedtune.sched_boost 0
    write /dev/stune/background/notify_on_release 0
    write /dev/stune/background/cgroup.clone_children 0
    write /proc/sys/kernel/sched_schedstats 0
    write /proc/sys/kernel/sched_min_granularity_ns 1000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000

    # CGROUPS
    write /dev/cpuset/cgroup.clone_children 0
    write /dev/cpuset/cgroup.sane_behavior 0
    write /dev/cpuset/notify_on_release 0
    write /dev/cpuctl/cgroup.clone_children 0
    write /dev/cpuctl/cgroup.sane_behavior 0
    write /dev/cpuctl/notify_on_release 0
    write /dev/cpuctl/cpu.rt_period_us 1000000
    write /dev/cpuctl/cpu.rt_runtime_us 950000
    write /dev/blkio/cgroup.clone_children 0
    write /dev/blkio/cgroup.sane_behavior 0
    write /dev/blkio/notify_on_release 0
    write /dev/blkio/bg/cgroup.clone_children 0
    write /dev/blkio/bg/cgroup.sane_behavior 0
    write /dev/blkio/bg/notify_on_release 0

    # Since we are not using core rotator, lets load balance
    write /dev/cpuset/top-app/cpus 0-7	
    write /dev/cpuset/foreground/cpus 0-3,6-7	
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3

    # For better screen off idle
    write /dev/cpuset/restricted/cpus "0-3"

    # FileSystem (FS) optimized tweaks & enhancements for a improved userspace experience
    write /proc/sys/fs/dir-notify-enable 0
    write /proc/sys/fs/lease-break-time 20

    # Set GPU idle timeout
    write /sys/class/drm/card0/device/idle_timeout_ms 64

    # Marginally reduce suspend latency
    write /sys/module/printk/parameters/console_suspend 1

    # Reduce kswapd cpu usage
    write /proc/sys/vm/swappiness 85
